.articleImg {
    width: 266px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 16px;
    object-fit: fill;

}

.List {
    display: flex;
    direction: row;
    padding: 0px; 
}

.MuiCardMedia-img {
    height: 432px;
    object-fit: fill;


}

.articleBigImg {
    height: 432px;
    width: 856px;
    border-radius: 10px;
    margin: 5px 10px 5px 2px;
}