.articleImg {
     /* width: 25%;
    height: 95%; */
    /* margin: 5px 10px 5px 2px;  */
    width: 266px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 16px;
    object-fit: fill;

}
/* Object Fit: https://www.w3schools.com/css/css3_object-fit.asp */

.List {
    display: flex;
    direction: row;
    padding: 0px; 
}

.articleBigImg {
    width: 856px;
    height: 432px;
    margin: 5px 10px 5px 2px;
}