.h1 {
  /* font-family: Poppins; */
  text-align: center;
  height: 38px;
  padding-top: 98px;
  padding-bottom: 77px;
  font-size: 27px;

}

.headingOne {
  font-family: Poppins;
  text-align: center;
  height: 38px;
  padding-top: 98px;
  padding-bottom: 77px;
}

.headingFive {
  font-family: Poppins;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  margin-top: 18.72px;
  margin-bottom: 18.72px;
}



.h3 {
  font-family: Poppins;
  text-align: center;
}

.errorMsg{
  font: 15px 'Poppins' , sans-serif;
  color: red;
  margin-block-start: 0em;
}